.article
  width: 350px
  margin: 17px
  border-radius: 20px !important
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4) !important
  & h3
    font-size: 21px !important
    line-height: 32px !important
  &__content
    padding: 32px !important
  &__body
    margin-top: 12px !important
    margin-bottom: 25px !important
  &__more
    font-size: 17px
    line-height: 28px
    font-weight: 600
    color: #4089ED
    text-decoration: none
    &:hover
      text-decoration: underline