.articles
  margin: auto -17px
  & h2
    text-align: center
  &__container
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    margin-top: 64px
  &__button
    text-align: center
    margin: 72px
    margin-bottom: 220px

//background element
.articles__bg-container
  position: relative
.articles__dots-blue
  position: absolute
  z-index: -1
  left: -30px
  top: -30px
.articles__drop
  position: absolute
  z-index: -1
  right: -540px
  top: -50px
  @media only screen and (max-width: 1165px)
    top: 200px
    right: -300px