.image-and-text
  display: flex
  justify-content: space-between
  justify-items: center
  &--reverse
    flex-direction: row-reverse
  &__text
    max-width: 400px
    display: flex
    flex-direction: column
    & h2
      max-width: 330px
    & hr
      margin-left: 0