.navbar
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 56px
  &__links
    display: flex
    justify-content: space-between
    width: 545px
  &__links > li
    list-style: none
  &__links > li > a
    text-decoration: none
    color: #9d99a6
    font-size: 18px
    font-weight: 400
    &:hover
      color: #1F1534
  &__logo
    width: 160px
    height: 41px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    & span
      display: none
.navbar__link--active
  color: #1F1534 !important
  font-weight: 700 !important