.navbar
  display: flex
  justify-content: space-between
  align-items: center
  margin: 56px 0
  &__links
    display: flex
    justify-content: space-between
    width: 545px
  &__links > li
    list-style: none
  &__links > li > a
    text-decoration: none
    color: #9d99a6
    font-size: 18px
    font-weight: 400
    &:hover
      color: #1F1534
  &__logo
    min-width: 160px
    min-height: 41px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    & span
      display: none
.navbar__link--active
  color: #1F1534 !important
  font-weight: 700 !important

//responsive burger design bellow ↓↓↓
.navbar
  &__links
    @media only screen and (max-width: 700px)
      display: none
  &__burger
    display: none
    z-index: 21
    @media only screen and (max-width: 700px)
      display: block
.navbar__burger--open
  position: fixed
  z-index: 20
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex;
  justify-content: center
  align-items: center
  flex-direction: column
  background-color: white
  padding: 0
  margin: 0
  width: 100vw