.banner
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 100px
  &__text
    display: flex
    flex-direction: column
    max-width: 440px
  &__body
    font-size: 21px !important
    margin-top: 25px !important
    margin-bottom: 45px !important
  &__image
    margin-right: -24px